.topSellersContainer,
#topSellerGames,
#topSellersButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.topSellerContainer {
  min-height: 100vh;
  padding: 3rem;
  background:url(../Assets/top.png);
  background-size: cover;
  background-position: center;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadCrumbLinks{

  margin-left: 20px;

  color: orange;
  text-decoration: none;
  background-color: transparent;

}

.breadCrumbLinks:hover{
  text-decoration: none;
  background-color: brown;
  color: white;

}
img{
    height: 170px;
  }